<div class="row">
	<div class="large-12 columns">
		<h1>Editing Bio</h1>
		<%= render 'form' %>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= link_to 'Show', @bio, :class => "button secondary" %>
		<%= link_to 'Back', bios_path, :class => "button secondary"  %>
	</div>
</div>
