<div class="row">
	<div class="large-12 columns">
		<h1>Enter Bio</h1>
		<%= render 'form' %>
	</div>
</div>

<div class="row">
	<div class="large-12 columns"><%= link_to 'Back', bios_path, :class=> "button secondary" %></div>
</div>
