<div class="row">
	<div class="large-12 columns">
		<h1>Admin</h1>
		<h2>Add a Kick</h2>
	</div>
</div>
<div class="row">
	<div class="large-3 columns">
		<%= link_to "Add Kickoff", new_kickoff_path, :class => "button secondary expand" %>
	</div>
	<div class="large-3 columns">
		<%= link_to "Add Field Goal", new_field_goal_path, :class => "button secondary expand" %>
	</div>
	<div class="large-3 columns">
		<%= link_to "Add PAT", new_point_after_attempt_path, :class => "button secondary expand" %>
	</div>
	<div class="large-3 columns">
		<%= link_to "Add Punt", new_punt_path, :class => "button secondary expand" %>
	</div>
</div>