<div class="row">
	<div class="large-12 columns">
		<h1>Kicker Name - Bio</h1>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<img src="http://placehold.it/500x500" class="img-responsive">
	</div>
	<div class="large-4 columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, quo, expedita, maxime sint libero vel tenetur quod nesciunt error nemo eligendi veritatis cupiditate esse. Voluptatem, exercitationem beatae repudiandae iusto omnis.</p>
	</div>
	<div class="large-4 columns">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Category</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>GPA</td>
					<td>3.5</td>
				</tr>
				<tr>
					<td>Coursework</td>
					<td>Honors Level</td>
				</tr>
				<tr>
					<td>SAT</td>
					<td>1800</td>
				</tr>
				<tr>
					<td>College Credits</td>
					<td>19</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>