<h1>Test</h1>
<p>This will show up only if you're logged in.</p>

<div class="row">
	<div class="col-md-3">
		<%= link_to "Add Kickoff", new_kickoff_path, :class => "btn btn-default btn-block" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Add Field Goal", new_field_goal_path, :class => "btn btn-default btn-block" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Add PAT", new_point_after_attempt_path, :class => "btn btn-default btn-block" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Add Punt", new_punt_path, :class => "btn btn-default btn-block" %>
	</div>
</div>




