<% provide(:title, "iKick.it, Kicker List") %>
<div class="row">
	<div class="large-12 columns">
		<h1>Kicker List</h1>
	</div>
	<div class="large-12 columns">
		<h2>Standout Players</h2>
		<p>This page still requires further design. There will be several search parameters in this area. I still don't have a well thought out plan for the layout of this section.</p>
		<ul class="large-block-grid-4 medium-block-grid-3">
			<li>
				<%= link_to kicker_name, bios_path %>
			</li>
		</ul>
	</div>
</div>