<% provide(:title, "iKick.it, Because I can!") %>
<div class="row">
	<div class="large-12 columns">
		<h1><%= app_name %> <small>for people who kick footballs</small></h1>
	</div>
	<div class="large-6 columns">
		<ul class="example-orbit" data-orbit>
				<li>
				  <img src="http://placehold.it/500x300" class="img-responsive" alt="Some tag">
				  <div class="orbit-caption">
				    Some placeholder caption
				  </div>
				</li>
				<li>
				  <img src="http://placehold.it/500x300" class="img-responsive" alt="Some tag">
				  <div class="orbit-caption">
				    Some other placeholder caption
				  </div>
				</li>
		</ul>
	</div>
	<div class="large-6 columns">
		<h1>Get Started Today</h1>
		<p><%= app_name %> is absolutely free to kickers and recruiting coaches. No strings attached. Simple easy to get started.</p>
		<a href="#" class="button expand large">Signup</a> 
		<a href="#">Login</a> | <%= link_to "Search for Kickers", static_pages_kicker_list_path %>
	</div>

</div>