<div class="row">
    <div class="large-12 columns">
        <dl class="sub-nav">
          <dt>Nav:</dt>
          <dd><%= sub_nav_link "Bio", bios_path %></dd>
          <dd><%= sub_nav_link "Highlights", highlights_path %></dd>
          <dd><%= sub_nav_link "Stats", static_pages_stats_path %></dd>
        </dl>
    </div>
</div>