<div class="row">
    <div class="large-12 columns">
        <dl class="sub-nav">
          <dt>Kicker:</dt>
          <dd><%= sub_nav_link raw('<i class="fa fa-user"></i>'), bios_path %></dd>
          <dd><%= sub_nav_link raw('<i class="fa fa-video-camera"></i>'), highlights_path %></dd>
        </dl>
    </div>
</div>