<div class="row">
	<div class="large-6 medium-8 columns medium-centered large-centered">
		<div class="panel">
			<h1>Edit <small>Kickoff</small></h1>
			<%= render 'form' %>
		</div>
		<%= link_to 'Show', @kickoff, :class => "button secondary"  %>
		<%= link_to 'Back to Stats', field_goals_path, :class => "button secondary"  %>
	</div>
</div>

