<div class="row">
	<div class="large-12 columns">
		<h1>Kickoff <small>Submitted</small></h1>
		<%= link_to 'Edit', edit_kickoff_path(@kickoff), :class => "button secondary"  %>
		<%= link_to 'Back', kickoffs_path, :class => "button secondary"  %>
	</div>
</div>