<div class="row">
	<div class="large-6 medium-8 columns medium-centered large-centered">
		<div class="panel">
			<h1>Enter <small>Award</small></h1>
			<%= render 'form' %>
		</div>
		<%= link_to 'Back', awards_path, :class=> "button secondary" %>
	</div>
</div>


