<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h1>Award <small>Submitted</small></h1>
			<p><%= @award.award_name %></p>
			<%= link_to 'Edit', edit_award_path(@award), :class=> "button secondary" %>
			<%= link_to 'Back', awards_path, :class=> "button secondary" %>
		</div>
	</div>
</div>