<h1>Editing Point After Attempt</h1>

<div class="row">
	<div class="col-md-4">
		<div class="well">
			<h3>Edit PAT</h3>
			<%= render 'form' %>
		</div>
	</div>
	<div class="col-md-8"></div>
</div>

<%= link_to 'Show', @point_after_attempt, :class => "btn btn-default btn-sm"  %>
<%= link_to 'Back', point_after_attempts_path, :class => "btn btn-default btn-sm"  %>
