<h1>Editing Point After Attempt</h1>

<%= render 'form' %>

<%= link_to 'Show', @point_after_attempt, :class => "btn btn-default btn-sm"  %>
<%= link_to 'Back', point_after_attempts_path, :class => "btn btn-default btn-sm"  %>
