<div class="row">
	<div class="large-6 medium-8 columns medium-centered large-centered">
		<div class="panel">
			<h1>New <small>PAT</small></h1>
			<%= render 'form' %>
		</div>
		<%= link_to 'Back to Stats', point_after_attempts_path, :class => "button secondary"  %>
	</div>
</div>