<div class="row">
	<div class="large-12 columns">
		<h1>PAT <small>Submitted</small></h1>
		<%= link_to 'Edit', edit_point_after_attempt_path(@point_after_attempt), :class => "button secondary"  %>
		<%= link_to 'Back', point_after_attempts_path, :class => "button secondary"  %>
	</div>
</div>