<h1>Editing Field Goal</h1>

<%= render 'form' %>

<%= link_to 'Show', @field_goal, :class => "btn btn-default btn-sm"  %>
<%= link_to 'Back', field_goals_path, :class => "btn btn-default btn-sm"  %>
