<div class="row">
	<div class="large-12 columns">
		<h1>Field Goal <small>Submitted</small></h1>
		<%= link_to 'Edit', edit_field_goal_path(@field_goal), :class => "button secondary"  %>
		<%= link_to 'Back', field_goals_path, :class => "button secondary"  %>
	</div>
</div>