<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h1>New College <small>To Your Wish List</small></h1>
			<%= render 'form' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= link_to 'Back', college_wish_lists_path, :class=> "button" %>
	</div>
</div>
