<div class="row">
	<div class="large-6 medium-8 columns medium-centered large-centered">
		<div class="panel">
			<h1>Edit <small>Reference</small></h1>
			<%= render 'form' %>
		</div>
		<%= link_to 'Show', @reference, :class=> "button secondary" %>
		<%= link_to 'Back', references_path, :class=> "button secondary" %>
	</div>
</div>
