<div class="row">
	<div class="large-4 columns">
		<div class="panel">
			<h3>Enter New Punts</h3>
			<%= render 'form' %>
		</div>
	</div>
	<div class="large-8 columns">
		<h1>New <small>Punts</small></h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, voluptates, libero fugiat consectetur magni voluptate assumenda consequatur recusandae voluptas quia harum maxime suscipit cum iure in mollitia quis aperiam nostrum.</p>
		<%= link_to 'Back to Stats', punts_path, :class => "button secondary"  %>
	</div>
</div>
